@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
header
{
  background-image: url(./img/oth/background.jpg);
  background-attachment: fixed;
  background-size: 100vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  backdrop-filter: blur(10px);
}
.profile
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(170,170,255, 1);
  border-left: none;
  border-right: none;
  width: 100vw;
  height: 200px;
  background-color: rgba(225,225,255, .3);
  backdrop-filter: blur(3px);
  font-weight: 700;
  color: white;
  text-shadow: 0px 1px 0 red;
}
.profile__avatar
{
  margin-bottom: 5px;
  border: 3px solid rgba(170,170,255, .7);;
  border-radius: 200px;
}
.profile__nickname
{
  font-size: 19px;
}
.below
{
  background: rgba(225,225,255, .2);
  border-radius: 2px;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 900;
  font-size: 20px;
  text-shadow: 0px 1px 0 red;
}
article
{
  width: 100vw;
  height: 200vh;
}
.wrapper
{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.second
{
  background-image: url(./img/oth/city.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
}
.third
{
  background-image: url(./img/oth/city2.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 900;
  text-shadow: 1px 1px black, -1px -1px black;
}
.board
{
  width: 1000px;
  height: 500px;
  /* background-color: #fff3f3; */
  border-radius: 30px;
  /* opacity: 80%; */
  padding: 20px 50px;
  backdrop-filter: sepia(100%);
}
.board > h1
{
  color: white;
}
.skill
{
  border-radius: 20px;
  width: 300px;
  margin: 10px 10px 10px 20px;
  border: 2px solid #AA8B56;
  background: white;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}
.progress
{
  padding: 2px 6px;
  height: 100%;
}